@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

*, *:before, *:after {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

body,html {
    margin: 0;
    padding: 0;
}

body{
    height: 100svh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
        "header header"
        "sidebar main";
    
}

.itemsMargin{
    margin: 2px;
}

.sidebarGridTemplate{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 50px);

}

.sidebarGridTemplate > button{
    padding: 10px;
    margin: 10px 1em;
}

.sidebarButton{
    line-height: 0px;
}

.gridTemplate{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.item{
    background-color: black;
    height: 100px;
    width: 100px;
    margin: auto;
}

.parentHeight{
    height: inherit;
}

.flex{
    display: flex;
}

.center{
    align-items: center;
    justify-content:center;
}

.defaultPanel > *{
    color: #6b7280;
    margin: 3px;
}

.logoutButton{
    background-color: #dc2626; 
    padding:0.5em; 
    text-decoration:none;
    border-radius: 10px;
}

.logoutButton:hover{
    background-color: #b91c1c; 
    padding:0.5em; 
    text-decoration:none;
    border-radius: 10px;
}

#dashboardSidebar{

    grid-area: sidebar;
    background-color: #e2e8f0;
}

#dashboardHeader, #dashboardHeader > *{
    grid-area: header;
    background-color: #e2e8f0;
}

#dashboardMainContent{
    grid-area: main;
    background-color: #d1d5db;
}    

#div1, #div2, #div3{
    display: none;
}

@media only screen and (max-width: 600px) {
    body {
        grid-template-columns:  1fr;
        grid-template-rows: 60px 200px 1fr;
        grid-template-areas: 
            "header "
            "sidebar"
            "main";
    }

    .gridTemplate{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}